# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/_posts
/_projects

# misc
.DS_Store
*.conf
desktop.ini
sftp-config.json

*.log*

!blank/.gitkeep
